/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/* Main BG color */
$bg: #272c2f;
$content_area_padding: 20px;
$accent: #f05a28;
$font_mono: 'pragmataproregular', 'Courier New', Courier, monospace;
$line_color: lighten($bg, 40%);

.new.block {
  display:none;
}
section#content-area .content .row {
  &.has-children {
    counter-reset: term;
  }
  .block {
    $line_color: lighten($bg, 40%);
    position: relative;
    margin: ($content_area_padding * 0.75) 0 ($content_area_padding * 0.75) $content_area_padding;
    padding: 0;
    border-left: 2px dotted $line_color;
    border-right: 2px dotted $line_color;
    border-top: 2px solid $line_color;

    > .title {
      width: 100%;
      height: 24px;
      background: #fff;
      background: lighten($bg, 40%);

      color: #fff;
      font-weight: 700;
      padding: 4px 0 0 8px;

      > .mo {
        opacity: 1;
        float: right;
        border: 0;

        > input[type=submit],
        > button,
        > a {
          background-color: $line_color;
          border-left: 1px solid #fff;
          &.active,
          &:hover {
            background-color: desaturate(darken($accent, 20%), 20%);
          }
        }
      }
    }

    /* Contador */
    &:before {
      counter-increment: term;
      content: counter(term);
      display: block;
      position: absolute;
      padding: 4px 0 0 0;
      width: 20px;
      height: 22px;
      top: -2px;
      left: -22px;
      background: $line_color;

      font-family: $font_mono;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: #fff;

    }

    >.row {
      &:last-of-type {
        border-bottom: 2px solid lighten($bg, 50%);
      }
    }
  }
}
