<div class="row">
  <%= f.label :corners_css_class %>
  <%= f.select :corners_css_class, ['square corners', 'rounded corners'] %>
</div>

<div class="row">
  <%= f.label :background_color %>
  <%= f.text_field :background_color %>
</div>
