<%= f.fields_for :blocks do |f_block| %>
  <div <%= raw f_block.object.new_record? ?
    "class='new_block' id ='new_content_block_#{f_block.object.layout}'" :
    "id ='content_block_#{f_block.object.id}'" %>>
    <%= render 'no_cms/admin/pages/blocks/form', f: f_block %>
  </div>
<% end %>
