<li>
  <%= page.title %>
  <%= link_to t('.edit'), edit_page_path(page)%>
  <% unless page.children.blank? %>
  <ul>
    <%= render partial: 'page_listing', collection: page.children, as: 'page' %>
  </ul>
  <% end %>
</li>
