<% current ||= nil %>
<li <%= raw 'class="current"' if current == page%>>
  <%= link_to page.title, edit_page_path(page)%>
  <div class="mo">
    <%= button_to '', page_path(page), method: :delete, class: "ico-mini-delete", title: t('.destroy') %>
  </div>
  <%= render partial: 'page_listing_item', collection: page.children, as: 'page', layout: 'page_listing', locals: { current: current } unless page.children.blank? %>
</li>
