<li>
  <%= page.title %>
  <%= link_to t('.edit'), edit_page_path(page)%>
  <%= button_to t('.destroy'), page_path(page), method: :delete %>
  <%= render partial: 'page_listing_item', collection: page.children, as: 'page', layout: 'page_listing' unless page.children.blank? %>
</li>
